<a href="https://colab.research.google.com/github/uaprof/MLProjects/blob/master/_myTips_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#My tips and Tricks

##Pandas useful code

###Basics

In [ ]:
# A Simple array or integers
a = [1,2,3]

# Slicing lists is a technique used to get elements from, before or between different indices

print("All elelemts: ", a[:])
print("All elements from the 3rd position onward: ", a[2:])
print("All elements between the 2nd and 4th position: ", a[1:3])
print("All elements before the last postion", a[:-1])

# Very useful guide:

#a[start:stop]  # items start through stop-1
#a[start:]      # items start through the rest of the array
#a[:stop]       # items from the beginning through stop-1
#a[:]           # a copy of the whole array

In [ ]:
country_info = {"name": "Japan",
        "capital": "Tokyo"}

print(country_info)
print(country_info["name"])
print(country_info["capital"])

In [ ]:
# Creating a class
class Book(object):
    """Class object for a book"""
  
    def __init__(self, title, author):
        """Initialize a new Book"""
        self.title = title
        self.author = author
    
    def __str__(self):
      return self.title
    
    def change_book_name(self, new_name):
      self.title = new_name

my_book = Book(title="The very good book", author="Vladimir Vorontcov")
my_book.change_book_name('New neme beter')
my_book.author

'Vladimir Vorontcov|'

###Time Series

In [ ]:
a = [1,4,3,7,2,6,3]
a = pd.Series(a)

a.max()

# Sort by placing the highest number first
a.sort_values(ascending=False)
a.value_counts()

###Data Frames

In [ ]:
import pandas as pd
# Load our CSV file using pandas
file_name = "https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/titanic.csv"
df = pd.read_csv(file_name)
df.head()

In [ ]:
# Expore the data using summary statistics

df.describe()
df.info()

In [ ]:
# Create a list
list_a = ['a', 'b', 'c']
df_a = pd.DataFrame(list_a)

dict_df = pd.DataFrame({
    'http_status': [200,200,404,404,301],
    'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]})
# Examing Dataframe
df.dtypes
df.columns
# viewing one column
df['name']

In [ ]:
# Indexing and selecting segments of our Data Frame

# df.loc[row_label, column_label]
df.loc[1,"name"]

# Slicing an entire column
df.loc[:,"name"]

names = df.loc[:,"name"] 

# Slicing a row
df.loc[0,:]

In [ ]:
# Slicing using iloc
# df.iloc[row_index, column_index]
# loc: label based selection
# iloc: integer position based selection

df.iloc[0,1]
df.iloc[0]

In [ ]:
# Slicing mulitple columns
df.loc[:,["name", "sex"]] 

# An alternative way of slicing columns 
df[["name", "sex"]]

# Slicing rows is similar as well
df.loc[2:4,:]

In [ ]:
# Descriptive Stats on Series
#.value_counts()

df['sex'].describe()

# count - number of rows or values in that column
# unique - number of unique categories in the column
# top - most populous category
# freq - count of the most popular category

# Let's learn a new function called unique
df['pclass'].unique()

In [ ]:
# Descriptive Stats on DataFrames

df[["fare","age"]].mean()
# Specifying the axies
# Note Axis = 0 is used by default and calculates the column statistics
df[["fare","age"]].mean(axis=0)

In [ ]:
# Filtering using Boolean Operations
df['pclass'] == 1
df['age'] > 70

# Viewing on those that are true
df[df['age'] > 70]

# Filtering on exact cell values
df[df['name'] == 'Barkworth, Mr. Algernon Henry Wilson']

In [ ]:
# Finding empty cells using isnull()
df.isnull()
df['cabin'].isnull()
df[df['cabin'].isnull()]
df[df['cabin'].notnull()]

In [ ]:
# Combining Boolean Filtering
over_60_and_under_5 = (df['age'] > 60) | (df['age'] < 5)
df[over_60_and_under_5]

###Pandas - Data Cleaning

##Explanatory Analysis